[Unit]
Description=node dummy app
After=network.target

[Service]
Type=simple
User=daemon
ExecStart=/usr/bin/nodejs /opt/node-dummy-app/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
