Source: node-dummy-app
Section: unknown
Priority: optional
Maintainer: Yaroslav Kostyannikov <killabayte.yarick@gmail.com>
Standards-Version: 0.0.2

Package: node-dummy-app
Architecture: any
Depends: nodejs
Description: node dummy application
 node dummy application that prints some text
